nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
}

.canvas {
    margin-left: 50px;
}

.newa {
    margin-top: 120px;
    margin-bottom: 120px;
    margin-left: 50px;
    text-decoration: none;
    border: 2px solid #1a1a1a;
    padding: 15px 25px;
    background-color: #333;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.newa:hover {
    background-color: #575757;
    transform: scale(1.05);
}

.colorHead {
    margin: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#grey {
    background-color: grey;
}

#white {
    background-color: white;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}
